/* imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* basics */

:root {
  --bright-blue: #3882f6;
  --medium-blue: #306ed3;
  --dark-blue: #1f2937;
  --bright-white: #f9faf8;
  --medium-white: #e5e7eb;
}

body {
  font-family: Roboto, sans-serif;
  min-width: 100vw;
  min-height: 100vh;

  /* Patchwork to fix horizontal scrollbar */
  overflow-x: hidden;
}

.wrapper {
  padding: 0.625rem;
}

/* header */

.header {
  background-color: var(--dark-blue);
  margin-bottom: 1.25rem;
}

.nav {
  text-align: center;
}

.nav__logo {
  color: var(--bright-white);
  margin-bottom: 1.25rem;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.25rem;
}

.nav__item {
  margin-bottom: 0.3125rem;
  padding: 0.3125rem;
  border-bottom: 0.1875rem solid #0c1a2e8e;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__item > a {
  color: var(--medium-white);
  text-decoration: none;
  transition: 0.1s linear;
}

.nav__item > a:hover {
  color: rgb(144, 144, 255);
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.hero__title {
  margin: 0;
  color: var(--bright-white);
  text-align: center;
  margin-bottom: 0.9375rem;
}

.hero__description {
  color: var(--medium-white);
  text-align: center;
  margin-bottom: 0.9375rem;
}

.signup-button {
  border: none;
  outline: none;
  background-color: var(--bright-blue);
  color: var(--bright-white);
  padding: 0.5rem 1.875rem;
  border-radius: 0.375rem;
  max-width: 7.5rem;

  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.signup-button--white-border {
  border: 0.125rem solid var(--bright-white);
}

.hero__image-container {
  align-self: center;
}

.hero__image {
  max-width: 100%;
  border-radius: 0.3125rem;
}

/* gallery section */

.gallery {
  margin-bottom: 1.25rem;
}

.gallery__title {
  text-align: center;
  margin-bottom: 3.75rem;
}

.gallery__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.25rem 6.25rem;
}

.gallery__figure {
  margin: 0;
  width: 7.5rem;
}

.gallery__image {
  border: 3px solid var(--medium-blue);
  border-radius: 8px;
}

.gallery__caption {
  color: #444;
  width: 7.5rem;
  text-align: center;
}

/* quote section */

.quote {
  background-color: var(--medium-white);
  padding: 1.875rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.quote__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote__text {
  margin: 0;
  color: var(--dark-blue);
  font-weight: light;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 0.375rem;
}

.quote__author {
  font-weight: bold;
  display: block;
  text-align: right;
  align-self: flex-end;
}

/* cta section */

.cta__banner {
  background-color: var(--bright-blue);
  color: var(--bright-white);
  border-radius: 0.5rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
}

.cta__title {
  margin-bottom: 0.9375rem;
}

.cta__text {
  margin-bottom: 0.9375rem;
}

/* Footer */

.footer {
  background-color: var(--dark-blue);
  height: 3.75rem;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: var(--medium-white);
}

/* Media queries */

@media (min-width: 34.375rem) {
  .wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 46.875rem) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }

  .nav__item {
    border: none;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.875rem;
  }

  .hero__content {
    flex: 1 1 40%;
    align-items: flex-start;
  }

  .hero__title {
    text-align: left;
  }

  .hero__description {
    text-align: left;
  }

  .hero__image-container {
    max-width: 100%;
    max-height: 100%;
  }

  .cta__banner {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 75rem) {
  .wrapper {
    max-width: 70%;
  }

  .hero {
    gap: 6.25rem;
  }
}

@media (min-width: 100rem) {
  .wrapper {
    max-width: 50%;
  }
}
